{% extends 'layout.html' %}

{% block body %}
	<div class="container"><h3>Please submit your ID given at login.</h3></div>

	{% from "includes/_formhelpers.html" import render_field %}
	<div class="container">		
		<form method="POST" action="">
			<div class="form-group">
				{{render_field(form.User, class_="form-control")}}
			</div>
			<p><input type="submit" value="Submit" class="btn btn-primary"></p>
		</form>
	</div>

	<table class="table">
    	<caption style="caption-side: top">Material List (unit and quantity listed for presentation purpose, dropdown menu is a better option, but not the focus of this course)</caption>
	  <tr>
	    <th>Material ID</th>
	    <th>Material Name</th> 
	    <th>Unit</th>
	    <th>Quantity in Total</th>
	  </tr>
	  	{% for each in data["material"] %}
		  <tr>
		    <td>{{each[0]}}</td>
		    <td>{{each[1]}}</td> 
		    <td>{{each[2]}}</td>
		    <td>{{each[3]}}</td>
		  </tr>
	   	{% endfor %}
	</table>
	
{% endblock %}